.input
{
    resize: false;
    border-radius: 10cm;
    color:chocolate ;
}
div
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button
{
    margin-top: 10px;
}
#red
{
    color: red;
}
#green
{
    color:green;
}
